[Desktop Entry]
Name=Monitor Manager
Comment=Manage monitors in Niri Wayland
Exec=nirdi
Icon=video-display
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=monitor;display;screen;niri;wayland;output;
StartupNotify=true
